@import url(normalize.css);
@import url(skeleton.css);

body {
  margin-bottom: 30px;
}

h2 {
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: bold;
}

.flex {
  display: flex;
}

.result {
  display: inline-block;
  flex: 1;
  min-height: 38px;
  line-height: 38px;
  padding: 0 8px;
  background-color: yellowgreen;
  border-radius: 50px;
  box-shadow: 2px 2px 5px lightgray;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 15px;
}

.bg-orange {
  background-color: orange;
}
